:root {
  --bg: #101010;
  --fg: #e0e0e0;
  --ac: #268ae2;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg);
  color: var(--fg);

  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

#app {
  margin: 0 auto;
}
